body{
    background:lightgrey;
}
.container{
    box-sizing: border-box;
    background-color: white;
    width: 600px;
    height:auto;
    margin: 20px auto;
    padding: 20px;
}

table, th, td{
    border:2px solid black;
}

table{
    border-collapse: collapse;
}

th,td{
    padding: 4px;
}

input[type="text"], input[type="email"]{
    width: 250px;
}

select{
    width: 170px;
    margin-bottom: 16px;
}


